/** style.css by sandro santos * * Copyright 2021, sandro santos **/
/** FONT IMPORT **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** VARIABLES **/
:root {
  --darker: #1e1e2f;
  --dark: #14141f;
  --lighter: #efefef;
  --light: #E7EAF5;

  --text-day: #333333;
  --border-day: #e7e7e7;
  --text-hover-day: #111827;

  --text-night: #ffffff;
  --border-night: #f3f4f610;
  --text-hover-night: #b5ccff;

  --radius: .375rem;

  --accent-color-day: #3D67D4;

  --5pxradius: 5px;
}

.day {
  --invert: .8;
  --background: white;
  --text: var(--text-day);
  --overlay: var(--lighter);
  --border: var(--border-day);
  --text-hover: var(--text-hover-day);
  --accent-color: var(--accent-color-day);
  --transparent-navbar: rgba(255, 255, 255, .5);
  --hover-transparent: rgba(129, 129, 129, 0.199);
}

.night {
  --invert: 0;
  --overlay: var(--darker);
  --text: var(--text-night);
  --background: var(--dark);
  --text-hover: white;
  --border: var(--border-night);
  --accent-color: var(--accent-color-day);
  --transparent-navbar: rgba(20, 20, 31, .5);
  --hover-transparent: rgba(255, 255, 255, 0.041);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--overlay) #ffffff;
}

/** Chrome, Edge, and Safari **/
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--overlay);
  border-radius: 5px;
}

/** GENERAL SETTINGS **/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  scrollbar-width: thin;
  box-sizing: border-box;
  /**transition: all .2s ease;**/
  font-family: 'Inter', sans-serif;
}

/** THEME SWITCH **/
.day .sun {
  display: none;
}

.night .moon {
  display: none;
}

/** BODY SETTINGS **/
body {
  margin: 0 auto;
  max-width: 1280px;
  font-weight: 500;
  color: var(--text);
  transition: all .2s ease;
  background-color: var(--background);
}

/** LINK SETTINGS **/
a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
}

i {
  padding: 0 5px 0 0;
}

/** image setting **/
img {
  width: 100%;
  border-radius: var(--5pxradius);
}

/** NAVBAR SETTINGS **/
nav {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  color: var(--text);
  padding: 0 1.5rem;
  transition: all .2s ease;
  background-color: var(--transparent-navbar);
  backdrop-filter: blur(20px);
}

nav div,
nav ul {
  display: flex;
  align-items: center;
  transition: all .2s ease;
}

nav>div:first-child {
  display: flex;
  padding: 1.5rem 0;
  margin: 0 auto;
  max-width: 1280px;
}

svg {
  width: 20px;
  height: 20px;
  fill: var(--text);
}

.nav-logo {
  flex: 1 1 100%;
}

.nav-logo img {
  width: 2em;
  height: 2em;
  filter: invert(var(--invert));
}

.navbar-addon {}

.navbar-addon #logo-name {
  opacity: 1;
  cursor: pointer;
  transform: translateX(-2em);
}

.navbar-addon #logo {
  opacity: 0;
}

#logo-name {
  opacity: 0;
  cursor: default;
}

.nav-contact {
  justify-content: flex-end;
}

.icon {
  transition: all .15s ease-in-out;
  display: flex;
  gap: .25em;
}

.nav-navigation {
  margin: 0 1em;
  padding: 0 .5em;
  border-radius: var(--5pxradius);
  border: 2px solid var(--accent-color);
}

.nav-navigation li {
  padding: 0.5em 1rem;
  transition: all .3s;
}

.nav-navigation li:hover {
  cursor: pointer;
  background-color: var(--border);
  cursor: pointer;
  border-radius: var(--5pxradius);
}

.nav-navigation li:last-child {
  margin-right: 1.5em;
}

.dropdown-hamburguer {
  display: none;
}

/** NAVBAR THEME SETTINGS **/
.nav-theme input {
  display: none;
}

.nav-theme div {
  padding: .5rem;
  cursor: pointer;
  border-radius: var(--5pxradius);
}

.nav-theme div:hover {
  background-color: var(--hover-transparent);
}

/** NAVBAR CONTACT SETTINGS **/
.nav-contact a {
  color: white;
  padding: .5em 1em;
  border-radius: var(--5pxradius);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.day .nav-contact a:hover {
  background-color: var(--text);
  border: 2px solid var(--text);
}

.nav-contact a:hover {
  background-color: transparent;
}

.nav-contact a svg {
  fill: white;
}

/** DROPDOWN **/
.dropdown {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 20px 18px;
  transition: all .3s ease;
  background: var(--background);
  border-radius: var(--5pxradius);
  box-shadow: 0 0 10px #0000002b;
}

/** DROPDOWN HEADER **/
.dropdown-header {
  display: flex;
  align-items: center;
  padding: 1.25em 1.25em 0 1.75em;
}

.dropdown-close {
  padding: .5rem;
  cursor: pointer;
  border-radius: var(--5pxradius);
}

.dropdown-close:hover {
  background-color: var(--hover-transparent);
}

/** DROPDOWN LIST **/
.dropdown-list {
  padding: 1.25em;
}

.dropdown-list li {
  padding: .75rem;
  transition: all .3s ease;
  border-radius: var(--5pxradius);
}

.dropdown-list li:hover {
  cursor: pointer;
  background-color: var(--hover-transparent);
}

/** DROPDOWN DIVIDER **/
.dropdown-divider {
  margin: 1em 0;
  border-bottom: 2px solid var(--border);
}

/** DROPDOWN CONTACT **/
.dropdown-contact {
  padding: .75rem;
  transition: all .3s ease;
  border-radius: var(--5pxradius);
}

.dropdown-contact:hover {
  cursor: pointer;
  background-color: var(--hover-transparent);
}

.cta-section {
  gap: 1.5em;
  display: grid;
  justify-items: center;
  justify-content: space-around;
  margin: calc(50vh - 50px) 0 calc(50vh) 0;
}

.cta-section a {
  width: max-content;
}

.hero-section {
  gap: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10rem 1.5rem;
}

.hero-section h1 {
  font-size: calc(3vw + 2vh + 2em);
}

.hero-section-contact {
  gap: 1em;
  display: flex;
  margin-top: 1em;
}

.hero-section-contact a,
.cta-section a {
  fill: white;
  color: white;
  padding: .5em 1em;
  border-radius: var(--5pxradius);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.hero-section-contact a:hover,
.cta-section a:hover {
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.hero-section-contact a svg,
.cta-section a svg {
  fill: white;
}

.hero-section h2 svg {
  fill: red;
}

/** 1024PX MEDIA QUERY **/

@media only screen and (max-width:64em) {
  .nav-contact {
    flex: unset;
  }

  .nav-navigation li:last-child {
    margin-right: 2em;
  }
}

/** 832PX MEDIA QUERY **/
@media only screen and (max-width:52em) {

  .dropdown-hamburguer {
    display: block;
    padding: .5rem;
    cursor: pointer;
    border-radius: var(--5pxradius);
  }

  .dropdown-hamburguer:hover {
    background-color: var(--hover-transparent);
  }

  .nav-logo {
    flex: 1 1 0%;
  }

  .nav-theme,
  .nav-contact,
  .nav-navigation {
    display: none;
  }

  /** hero section **/
  .hero-section {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 1.5rem;
  }

  /** THEME SWITCHER **/
  #theme-button {
    display: none;
  }


}